@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}
body {
    background-color: #eee;
}
a {
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main {
    display: flex;
    
}

#main {
  display: flex;
  justify-content: center;
  text-align: center;
}

#formInscricoes {
  width: 40%;
}

@media (max-width: 600px) {
  #mainblocos div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
  }
  iframe {
    width: 100%;
  }
  #main {
    display: block;
    justify-content: center;
    text-align: center;
  }
  #formInscricoes {
    width: 100%;
  }
}


input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



#neubar {
  background: #fae8d2;
  box-shadow: 4px 6px 12px rgb(0,0,0,0)
}

.nav-item .active {
  border-radius: 6px;
  background: linear-gradient(145deg, #082338, #063254);
}
#neubar .dropdown-menu a:hover {
  color: #eee;
}
#neubar .nav-item {
  margin : 0;
}
#neubar a {
  padding-left:12px;
  padding-right:12px;
  color: #eee;
}
#neubar .dropdown-menu {
  background : #eee
}
a.navbar-brand {
  color: #eee
}